{% extends "base/base_list.html" %}
	{% block name %}
		<h2 class="text-center">Lista de Quejas</h2>
	{% endblock name %}
	{% block bodylist %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Queja</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr id='{{ object.id }}' class="target-blink">
						<th>{{ object.id }}</th>
						<td>{{ object.user }}</td>
						<td>{{ object.queja }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock bodylist %}
