{% extends "base/base_list.html" %}
	{% block name %}
		<h2 class="text-center">Lista de Quejas Personales</h2>
		<a type="button" class="btn btn-primary" href="{% url 'empleado:create_queja' %}">Crea Queja</a>
	{% endblock name %}
	{% block bodylist %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Queja</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr id='{{ object.id }}' class="target-blink">
						<th>{{ object.id }}</th>
						<td>{{ object.user }}</td>
						<td>{{ object.queja }}</td>
						<td>
							

							<a type="button" class="btn btn-primary" href="{% url 'empleado:update_queja' object.id %}">Update Queja</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock bodylist %}
