<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">C. Biometrico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if perms.users.users %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'users:create_user' %}">Crear Usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'users:list_user' %}">Lista de Usuarios</a></li>
              <li><a class="dropdown-item" href="{% url 'users:constance' %}">Constantes</a></li>
              <li><a class="dropdown-item" href="{% url 'users:list_permisosg' %}">Permisos Generales</a></li>
            </ul>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Lista Quejas</a></li>
            </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cog"></i> Opciones
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href=""><i class="fa-solid fa-pen-to-square"></i> Actualizar Datos</a></li>
              <li><a class="dropdown-item" href=""><i class="fa-solid fa-calendar"></i> Gestión de Trabajo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href=""><i class="fa-solid fa-key"></i> Cambiar Contraseña</a></li>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
