{% extends "base/base_list.html" %}
	{% block name %}
		<h2 class="text-center">Lista de Usuarios</h2>
	{% endblock name %}
	{% block headextra %}
		<a type="button" class="btn btn-primary" href="{% url 'users:create_user' %}"><i class="fa-solid fa-square-plus"></i> Crear Usuario</a>
	{% endblock headextra %}
	{% block bodylist %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Nombres</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Dir. Correo</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr id='{{ object.id }}' class="target-blink">
						<th>{{ object.id }}</th>
						<td>{{ object.username }}</td>
						<td>{{ object.first_name }}</td>
						<td>{{ object.last_name }}</td>
						<td>{{ object.email }}</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Opciones
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="{% url 'users:update_user' object.id %}"><i class="fa-regular fa-pen-to-square"></i> Actualizar</a></li>
									<li><a class="dropdown-item" href="{% url 'users:list_permisos' object.id %}"><i class="fa-solid fa-key"></i> Licencias</a></li>
									<li><a class="dropdown-item" href="{% url 'users:metricas_inline' object.id %}">Metricas</a></li>
									<li><a class="dropdown-item" href="{% url 'users:date_planillas' object.id %}">Generar Planilla</a></li>
									<!--<li><a class="dropdown-item" href="{% url 'users:date_planillashc' object.id %}">Generar Planilla H.C.</a></li>-->
									<li><a class="dropdown-item" href="{% url 'users:create_or_update_kardex' object.id %}">Kardex</a></li>
									<li><a class="dropdown-item" target="_blank" href="{% url 'users:kardex_pdf' object.id %}">PDF Kardex</a></li>
									<li><a class="dropdown-item" target="_blank" href="{% url 'users:contrato' object.id %}">Contrato</a></li>
									
									<li><a class="dropdown-item" target="_blank" href="{% url 'users:permisos_sistema' object.id %}">Permisos S.</a></li>
								</ul>
							</div>
						</td>	
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock bodylist %}
